<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
    <session-factory>
	     <property name="show_sql">false</property>
	     <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		 <property name="hibernate.bytecode.use_reflection_optimizer">true</property>		 
		 <property name="hibernate.cache.use_structured_entries">true</property>        
         <property name="hibernate.cache.use_minimal_puts">false</property>
         <property name="hibernate.connection.release_mode">after_transaction</property>
     </session-factory>
</hibernate-configuration>
